PROTO2_Ronny_Tiago_2026.json
[
    {
        "id": "39d0340648bac90a",
        "type": "tab",
        "label": "Final",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "963e4928c649ef7e",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "Dice Game",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b455b85b84aab6d3",
            "749941747721dc55",
            "1be6ae41d82b17df",
            "8d4f162745b5109c",
            "80dc724c33d81f05",
            "d29172bafd978f99",
            "9fed7d3b0bacd308",
            "d4b5a9bb8947c131",
            "bb64a6fe0c5a3401",
            "809822e9cc3a0175",
            "b08f24fe57bcf1d9",
            "ded05a7330fbc3a1",
            "d918825f07eb9380",
            "546dd984ed89b0ea",
            "f20009e1db361804",
            "35bdd2c3a7103dfc",
            "09bba963611019a9",
            "4af3a0c21fa85b20",
            "707b303480e1fae2",
            "c530f0f4401d875f",
            "90bd7665da222cfc",
            "588ef975f737744f",
            "555a57979416b9ab"
        ],
        "x": 354,
        "y": 279,
        "w": 1112,
        "h": 402
    },
    {
        "id": "3dd528945dae3325",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "Emergency kick",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "color": "#000000"
        },
        "nodes": [
            "bb0f7d7e57440f31",
            "76075fd0b56eb8fc",
            "3f2c02576f32d554",
            "c3f964aecfd0be31",
            "debf567b43c6f30c",
            "7b234412d34ad40f",
            "431ce98ff3150515"
        ],
        "x": 494,
        "y": 739,
        "w": 952,
        "h": 162
    },
    {
        "id": "e7220dc4447fa978",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "Server Starten & Herunterfahren",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "323af4c23d5b4ddd",
            "9d2a860fb66dc554",
            "aadf0a8bbc5aecf8",
            "32986831f979a309",
            "bf61b8a43e290a11",
            "e709708aaea73e4d",
            "be7fb0b6a1f202cf",
            "73db23447a8424c4",
            "10e8aefe2f785b6c"
        ],
        "x": 494,
        "y": 19,
        "w": 792,
        "h": 242
    },
    {
        "id": "f3588848ae20c858",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "Server Status",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bfacd095c50d2999",
            "1083c0d2ac07ecd7",
            "dfdd2d5b4b40b76d",
            "41546a61f93483a4",
            "df0645dfcfb6e120",
            "918cb38b94da1fe0"
        ],
        "x": 214,
        "y": 979,
        "w": 1352,
        "h": 82
    },
    {
        "id": "9191017c29e1edb4",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "! - Konsole auf Discord",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9aa8164eb5252d28",
            "e8a49f55bcf2b34a",
            "2ef33b410a9ba193",
            "b7541c358d3e1c15",
            "0f56c325916403f8",
            "a3ce1d1668b06add",
            "8e64b3fa96dfd613"
        ],
        "x": 224,
        "y": 1119,
        "w": 1432,
        "h": 142
    },
    {
        "id": "951dff55e6aba132",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "$daily - Daily Reward",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0d51c9236cb4bd30",
            "ccc9840e72aeffae",
            "c7653934e9ce5575",
            "dc99feb843031a63",
            "4524632738eaa11b",
            "dda3206b5361f889"
        ],
        "x": 414,
        "y": 1319,
        "w": 1032,
        "h": 162
    },
    {
        "id": "e2cfd4d9fd0a839a",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "$help - Help",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "022abf66f70c8eb6",
            "ca21bf55ba79e778",
            "dcc0f33c58fa5d54",
            "cc2945f723dd1c9a",
            "032fb1cdb2e17c4c"
        ],
        "x": 314,
        "y": 1539,
        "w": 1252,
        "h": 82
    },
    {
        "id": "1201558a26becc0e",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "Wetter",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ac829e311cf79443",
            "6d3d3663bde27f87",
            "f8e7e88b128eddaf",
            "8ffc776647fc0c42",
            "c33f888e6f629386",
            "dda3ab3ca397ffa0",
            "037fc9a57ace5390",
            "8565a82decedd536",
            "4dda13825a99d0df",
            "3b4dc9ec715423fd",
            "4539bdf11e2fc772",
            "be38b56d4f263a83",
            "2530de5519f347a1",
            "49c5026eda3138ba",
            "43083993247aabee",
            "52c0bae9b8164842",
            "09a93f3b81a02462",
            "ed301d6a596c6aef",
            "1ae504128893fcd1"
        ],
        "x": 274,
        "y": 1679,
        "w": 1192,
        "h": 402
    },
    {
        "id": "ff483325a1326697",
        "type": "group",
        "z": "39d0340648bac90a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "btn_input",
            "switch_btn",
            "approve_fn",
            "rcon_node",
            "0a650e4039e18475",
            "1b6e6ec6b2583e2d",
            "ff4a40984c43babe",
            "900812078097eb4a",
            "d3623f783ca8e9c7",
            "953e572972bbeb7c",
            "aedba174dd4b44f5"
        ],
        "x": 374,
        "y": 2519,
        "w": 1012,
        "h": 382
    },
    {
        "id": "e08e97e1abeb23d9",
        "type": "group",
        "z": "39d0340648bac90a",
        "name": "Dashboard",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "970943b07a11e467",
            "2b8081ddf65f8e2d",
            "8a69929e41a529c6",
            "6b7af75e6ccdf91e",
            "b788c5046ee6384a",
            "ec4b5dca19b57cd1",
            "63f094895f7f7be5",
            "02d357c21618da92",
            "28c74db633bdfc2b",
            "0bf16d018164a3ae"
        ],
        "x": 334,
        "y": 2139,
        "w": 1032,
        "h": 322
    },
    {
        "id": "b455b85b84aab6d3",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "Dice Game",
        "func": "// 1. Extract user safely\nlet discordUser = \"Player\";\n\nif (msg.payload && msg.payload.author && msg.payload.author.username) {\n    discordUser = msg.payload.author.username;\n}\n\n// 2. Extract channel ID (IMPORTANT for reply)\nlet channelId = msg.payload.channelId;\n\n// 3. Dice logic\nlet playerRoll = Math.floor(Math.random() * 6) + 1;\nlet dealerRoll = Math.floor(Math.random() * 6) + 1;\n\nlet outcome = \"\";\nlet gameResult = \"\";\n\nif (playerRoll > dealerRoll) {\n    outcome = \"win\";\n    gameResult = \"🏆 YOU WIN! Reward granted!\";\n} else if (playerRoll < dealerRoll) {\n    outcome = \"loss\";\n    gameResult = \"💀 YOU LOSE! Penalty applied!\";\n} else {\n    outcome = \"tie\";\n    gameResult = \"🤝 TIE GAME! Try again!\";\n}\n\n// 4. Build reply message (THIS is what gets sent to Discord)\nmsg.payload = {\n    channelId: channelId,\n    content:\n        `🎲 **Dice Duel Arena** 🎲\n**${discordUser} vs Dealer**\n\n🎲 You: ${playerRoll}\n🎲 Dealer: ${dealerRoll}\n\n${gameResult}`\n};\n\n// 5. Keep game data for Minecraft part\nmsg.outcome = outcome;\nmsg.player = \"@a\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "749941747721dc55",
                "d4b5a9bb8947c131"
            ]
        ]
    },
    {
        "id": "749941747721dc55",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "property": "outcome",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "win",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loss",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 420,
        "wires": [
            [
                "1be6ae41d82b17df",
                "ded05a7330fbc3a1"
            ],
            [
                "8d4f162745b5109c",
                "d918825f07eb9380"
            ]
        ]
    },
    {
        "id": "1be6ae41d82b17df",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "Win",
        "func": "let rewards = [\n    \"give \" + msg.player + \" minecraft:diamond 5\",                // Make it rain\n    \"effect give \" + msg.player + \" minecraft:regeneration 30 1\", // Inspiration\n    \"give \" + msg.player + \" minecraft:totem_of_undying 1\"         // Another chance\n];\n// Randomly pick one reward option from our array\nmsg.payload = rewards[Math.floor(Math.random() * rewards.length)];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "80dc724c33d81f05"
            ]
        ]
    },
    {
        "id": "8d4f162745b5109c",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "Lose",
        "func": "\nlet penalties = [\n    \"execute at \" + msg.player + \" run summon zombie ~ ~ ~\",       // Horde\n    \"effect give \" + msg.player + \" minecraft:poison 10 1\",       // Big loss (Poison)\n    \"effect give \" + msg.player + \" minecraft:hunger 15 1\"        // Big loss (Hunger)\n];\n// Rare death mechanic rule (1 in 20 chance)\nif (Math.random() < 0.05) {\n    penalties.push(\"kill \" + msg.player); // Death\n}\n\nmsg.payload = penalties[Math.floor(Math.random() * penalties.length)];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 480,
        "wires": [
            [
                "80dc724c33d81f05"
            ]
        ]
    },
    {
        "id": "80dc724c33d81f05",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "server": "8780b04773af9560",
        "command": "",
        "x": 1390,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d29172bafd978f99",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "9fed7d3b0bacd308",
        "type": "discordMessage",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "channelIdFilter": "1514214543310585979",
        "token": "",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "bb64a6fe0c5a3401"
            ]
        ]
    },
    {
        "id": "d4b5a9bb8947c131",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "d29172bafd978f99"
            ]
        ]
    },
    {
        "id": "bb64a6fe0c5a3401",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "Überprüfung $dice",
        "func": "// 1. Prüfen, ob die Nachricht überhaupt \"$dice\" ist\nlet input = String(msg.payload).trim();\n\nif (input !== \"$dice\") {\n    return null; // Beendet den Flow hier, wenn es nicht \"$status\" ist\n}\n\n// 2. Wenn es \"$status\" war, bereiten wir den RCON-Befehl vor\nmsg.payload = \"list\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 320,
        "wires": [
            [
                "b455b85b84aab6d3"
            ]
        ]
    },
    {
        "id": "bb0f7d7e57440f31",
        "type": "rpi-gpio in",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "",
        "pin": "19",
        "intype": "up",
        "debounce": "",
        "read": true,
        "bcm": true,
        "x": 580,
        "y": 860,
        "wires": [
            [
                "debf567b43c6f30c"
            ]
        ]
    },
    {
        "id": "76075fd0b56eb8fc",
        "type": "delay",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 860,
        "wires": [
            [
                "3f2c02576f32d554"
            ]
        ]
    },
    {
        "id": "3f2c02576f32d554",
        "type": "change",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "kick @a Emergency Digilab Manual Shutdown Initiated!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Emergency Minecraft Server",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 860,
        "wires": [
            [
                "c3f964aecfd0be31"
            ]
        ]
    },
    {
        "id": "c3f964aecfd0be31",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "",
        "server": "8780b04773af9560",
        "command": "",
        "x": 1370,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "323af4c23d5b4ddd",
        "type": "exec",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "command": "bash",
        "addpay": false,
        "append": "-lc 'cd /home/ronny/minecraft-server && docker compose up -d'",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "name": "docker compose up -d",
        "x": 920,
        "y": 120,
        "wires": [
            [
                "aadf0a8bbc5aecf8"
            ],
            [],
            []
        ]
    },
    {
        "id": "9d2a860fb66dc554",
        "type": "exec",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "command": "bash",
        "addpay": false,
        "append": "-lc 'cd /home/ronny/minecraft-server && docker compose down'",
        "useSpawn": "false",
        "name": "docker compose down",
        "x": 925,
        "y": 180,
        "wires": [
            [
                "32986831f979a309"
            ],
            [],
            []
        ]
    },
    {
        "id": "aadf0a8bbc5aecf8",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "32986831f979a309",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 180,
        "wires": []
    },
    {
        "id": "debf567b43c6f30c",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 860,
        "wires": [
            [
                "76075fd0b56eb8fc",
                "431ce98ff3150515"
            ]
        ]
    },
    {
        "id": "bfacd095c50d2999",
        "type": "discordMessage",
        "z": "39d0340648bac90a",
        "g": "f3588848ae20c858",
        "name": "",
        "channelIdFilter": "1514214543310585979",
        "token": "",
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "1083c0d2ac07ecd7"
            ]
        ]
    },
    {
        "id": "1083c0d2ac07ecd7",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "f3588848ae20c858",
        "name": "function 16",
        "func": "// 1. Prüfen, ob die Nachricht überhaupt \"$status\" ist\nlet input = String(msg.payload).trim();\n\nif (input !== \"$status\") {\n    return null; // Beendet den Flow hier, wenn es nicht \"$status\" ist\n}\n\n// 2. Wenn es \"$status\" war, bereiten wir den RCON-Befehl vor\nmsg.payload = \"list\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "918cb38b94da1fe0"
            ]
        ]
    },
    {
        "id": "dfdd2d5b4b40b76d",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "f3588848ae20c858",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 1170,
        "y": 1020,
        "wires": [
            [
                "df0645dfcfb6e120"
            ]
        ]
    },
    {
        "id": "41546a61f93483a4",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "f3588848ae20c858",
        "name": "function 17",
        "func": "// 1. Prüfen, ob die Antwort vom RCON-Node leer oder ein Fehler ist\nif (!msg.payload || String(msg.payload).includes(\"ECONNREFUSED\") || String(msg.payload).includes(\"Timeout\")) {\n\n    // Hier der OFFLINE-CODE:\n    msg.payload = {\n        content: \"🔴 **Server Status**\\nDer Server ist aktuell **OFFLINE** oder nicht erreichbar.\"\n    };\n\n    return msg;\n}\n\n// 2. Wenn der Server Online ist:\nlet text = String(msg.payload);\nlet match = text.match(/(\\d+)\\D+(\\d+)/);\nlet online = match ? match[1] : \"0\";\nlet max = match ? match[2] : \"?\";\n\nmsg.payload = {\n    content: `🟢 **Server Online**\\n👥 **Spieler:** ${online}/${max}`\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1020,
        "wires": [
            [
                "dfdd2d5b4b40b76d"
            ]
        ]
    },
    {
        "id": "df0645dfcfb6e120",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "f3588848ae20c858",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "918cb38b94da1fe0",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "g": "f3588848ae20c858",
        "name": "",
        "server": "8780b04773af9560",
        "command": "",
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "41546a61f93483a4"
            ]
        ]
    },
    {
        "id": "9aa8164eb5252d28",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "function 18",
        "func": "// 1. Deine Discord User-ID\nconst ADMIN_ID = \"412683992991531018\";\n\n// 2. Prüfen, ob die Nachricht mit \"!\" beginnt\nif (!msg.payload || !msg.payload.startsWith(\"!\")) {\n    return null; // Ignoriert normale Nachrichten ohne \"!\"\n}\n\n// 3. Sicherheitscheck: Wer hat geschrieben?\nlet authorId = msg.authorId || \n               (msg.author ? msg.author.id : null) || \n               (msg.member ? msg.member.id : null);\n\nif (authorId !== ADMIN_ID) {\n    // FEHLERMELDUNG FÜR NICHT-ADMINS\n    msg.payload = { \n        content: \"🚫 **Zugriff verweigert:** Du hast keine Berechtigung, Server-Befehle auszuführen!\" \n    };\n    return msg.payload; // Diese Nachricht geht direkt zum Discord-Send-Node\n}\n\n// 4. WENN ADMIN: Befehl für Minecraft vorbereiten\nlet command = msg.payload.substring(1).trim();\n\n// Wir setzen ein zweites Ziel-Label (Topic), damit wir später \n// zwischen RCON-Antwort und Fehlermeldung unterscheiden können\nmsg.topic = \"admin_cmd\"; \nmsg.payload = command; // Eventuell + \"\\n\" falls es noch nicht geht\n\n// Wir schicken die Nachricht an den RCON-Node\nnode.send([msg, null]); \nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "8e64b3fa96dfd613"
            ],
            [
                "0f56c325916403f8"
            ]
        ]
    },
    {
        "id": "e8a49f55bcf2b34a",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "function 19",
        "func": "let response = String(msg.payload);\n\n// Falls Minecraft eine Fehlermeldung schickt\nif (response.includes(\"Unknown or incomplete command\") || response.trim() === \"\") {\n    msg.payload = {\n        content: \"💻 **Konsole:** Befehl gesendet, aber keine Bestätigung erhalten (oder Befehl unbekannt).\"\n    };\n} else {\n    msg.payload = {\n        content: \"💻 **Konsole:**\\n```\\n\" + response + \"\\n```\"\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "2ef33b410a9ba193"
            ]
        ]
    },
    {
        "id": "2ef33b410a9ba193",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 1220,
        "y": 1160,
        "wires": [
            [
                "a3ce1d1668b06add"
            ]
        ]
    },
    {
        "id": "b7541c358d3e1c15",
        "type": "discordMessage",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "",
        "channelIdFilter": "1514214543310585979",
        "token": "",
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "9aa8164eb5252d28"
            ]
        ]
    },
    {
        "id": "0f56c325916403f8",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 820,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "a3ce1d1668b06add",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8e64b3fa96dfd613",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "g": "9191017c29e1edb4",
        "name": "",
        "server": "8780b04773af9560",
        "command": "",
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "e8a49f55bcf2b34a"
            ]
        ]
    },
    {
        "id": "0d51c9236cb4bd30",
        "type": "discordMessage",
        "z": "39d0340648bac90a",
        "g": "951dff55e6aba132",
        "name": "",
        "channelIdFilter": "1514214543310585979",
        "token": "",
        "x": 520,
        "y": 1360,
        "wires": [
            [
                "ccc9840e72aeffae"
            ]
        ]
    },
    {
        "id": "ccc9840e72aeffae",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "951dff55e6aba132",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "$daily",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1360,
        "wires": [
            [
                "c7653934e9ce5575"
            ]
        ]
    },
    {
        "id": "c7653934e9ce5575",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "951dff55e6aba132",
        "name": "function 20",
        "func": "// 1. Variablen definieren\nconst userId = msg.authorId || (msg.author ? msg.author.id : null);\nconst parts = msg.payload.trim().split(/\\s+/);\nconst mcName = parts[1];\nconst now = Date.now();\nconst cooldown = 24 * 60 * 60 * 1000; // 24 Stunden in Millisekunden\n\n// 2. Prüfen, ob ein Name angegeben wurde\nif (!mcName) {\n    return [null, { payload: { content: \"❌ Bitte gib deinen Namen an: `$daily MeinName`\" } }];\n}\n\n// 3. Zeit-Check (Die Sperre)\n// Wir holen uns die Zeit des letzten Gebrauchs für diesen speziellen User\nlet lastUsed = context.get(\"daily_\" + userId) || 0;\n\nif (now - lastUsed < cooldown) {\n    // Zeit berechnen, wie lange er noch warten muss\n    let remainingMs = cooldown - (now - lastUsed);\n    let hours = Math.floor(remainingMs / (1000 * 60 * 60));\n    let minutes = Math.floor((remainingMs % (1000 * 60 * 60)) / (1000 * 60));\n    \n    return [null, { \n        payload: { \n            content: `⏳ **Geduld!** Du hast deine Belohnung heute schon abgeholt. \\nDu musst noch **${hours} Stunden und ${minutes} Minuten** warten.` \n        } \n    }];\n}\n\n// 4. Wenn der Check bestanden wurde: Neue Zeit speichern\ncontext.set(\"daily_\" + userId, now);\n\n// 5. Befehle vorbereiten\nlet rconMsg = { payload: \"give \" + mcName + \" diamond 5\" };\nlet discordMsg = { payload: { content: \"💎 **Erfolg!** 5 Diamanten wurden an **\" + mcName + \"** gesendet. Komm morgen wieder!\" } };\n\nreturn [rconMsg, discordMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1360,
        "wires": [
            [
                "dda3206b5361f889"
            ],
            [
                "dc99feb843031a63"
            ]
        ]
    },
    {
        "id": "dc99feb843031a63",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "951dff55e6aba132",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 1190,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "4524632738eaa11b",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "951dff55e6aba132",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1360,
        "wires": []
    },
    {
        "id": "dda3206b5361f889",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "g": "951dff55e6aba132",
        "name": "",
        "server": "8780b04773af9560",
        "command": "",
        "x": 1170,
        "y": 1360,
        "wires": [
            [
                "4524632738eaa11b"
            ]
        ]
    },
    {
        "id": "022abf66f70c8eb6",
        "type": "discordMessage",
        "z": "39d0340648bac90a",
        "g": "e2cfd4d9fd0a839a",
        "name": "",
        "channelIdFilter": "1514214543310585979",
        "token": "",
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "ca21bf55ba79e778"
            ]
        ]
    },
    {
        "id": "ca21bf55ba79e778",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "e2cfd4d9fd0a839a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "$help",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "dcc0f33c58fa5d54"
            ]
        ]
    },
    {
        "id": "dcc0f33c58fa5d54",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "e2cfd4d9fd0a839a",
        "name": "function 21",
        "func": "msg.payload = {\n    content: \"🎮 **Minecraft-Server Manager v1.0**\\n\" +\n        \"--------------------------------------------------\\n\" +\n        \"**Spieler-Befehle:**\\n\" +\n        \"• `$daily` - Holt deine tägliche Belohnung ab.\\n\" +\n        \"• `$dice` - Dice game wird ausgeführt\\n\\n\" +\n        \"**Admin-Befehle (Nur für Admins):**\\n\" +\n        \"• `$status` - Prüft Zeit & Spieleranzahl auf dem Server.\\n\" +\n        \"• `!` - Alle andere Befehle die über Minecraft chat auch geht\\n\" +\n        \"--------------------------------------------------\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1580,
        "wires": [
            [
                "cc2945f723dd1c9a"
            ]
        ]
    },
    {
        "id": "cc2945f723dd1c9a",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "e2cfd4d9fd0a839a",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 1170,
        "y": 1580,
        "wires": [
            [
                "032fb1cdb2e17c4c"
            ]
        ]
    },
    {
        "id": "032fb1cdb2e17c4c",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "e2cfd4d9fd0a839a",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1580,
        "wires": []
    },
    {
        "id": "bf61b8a43e290a11",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "323af4c23d5b4ddd",
                "be7fb0b6a1f202cf"
            ],
            [
                "9d2a860fb66dc554",
                "10e8aefe2f785b6c"
            ]
        ]
    },
    {
        "id": "e709708aaea73e4d",
        "type": "rpi-gpio in",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "bf61b8a43e290a11"
            ]
        ]
    },
    {
        "id": "809822e9cc3a0175",
        "type": "rpi-gpio in",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "546dd984ed89b0ea"
            ]
        ]
    },
    {
        "id": "b08f24fe57bcf1d9",
        "type": "raspi5-lcd-16x2",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 1360,
        "y": 460,
        "wires": []
    },
    {
        "id": "ded05a7330fbc3a1",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "Win display",
        "func": "msg.payload = {\"line1\": \"Won Dice game\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "b08f24fe57bcf1d9"
            ]
        ]
    },
    {
        "id": "d918825f07eb9380",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "function 22",
        "func": "msg.payload = {\"line1\": \"Lose Dice Game\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "b08f24fe57bcf1d9"
            ]
        ]
    },
    {
        "id": "be7fb0b6a1f202cf",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "Server start message",
        "func": "msg.payload = { \"line1\": \"Server is\", \"line2\": \"starting now...\" }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 60,
        "wires": [
            [
                "73db23447a8424c4"
            ]
        ]
    },
    {
        "id": "73db23447a8424c4",
        "type": "raspi5-lcd-16x2",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "10e8aefe2f785b6c",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "e7220dc4447fa978",
        "name": "Server shutdown message",
        "func": "msg.payload = { \"line1\": \"Server is\", \"line2\": \"shutting down...\" }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            [
                "73db23447a8424c4"
            ]
        ]
    },
    {
        "id": "7b234412d34ad40f",
        "type": "raspi5-lcd-16x2",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "431ce98ff3150515",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "3dd528945dae3325",
        "name": "function 23",
        "func": "msg.payload = { \"line1\": \"Emergency Kick\" }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 780,
        "wires": [
            [
                "7b234412d34ad40f"
            ]
        ]
    },
    {
        "id": "546dd984ed89b0ea",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "b455b85b84aab6d3",
                "555a57979416b9ab"
            ]
        ]
    },
    {
        "id": "f20009e1db361804",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "35bdd2c3a7103dfc",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "09bba963611019a9",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "14",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "4af3a0c21fa85b20",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "22",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 860,
        "y": 640,
        "wires": []
    },
    {
        "id": "707b303480e1fae2",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "c530f0f4401d875f",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "17",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "90bd7665da222cfc",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "588ef975f737744f",
        "type": "rpi-gpio out",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "555a57979416b9ab",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "963e4928c649ef7e",
        "name": "function 4",
        "func": "let times = 5;      // number of blinks\nlet delay = 200;   // ms between ON/OFF\n\nfor (let i = 0; i < times; i++) {\n    // ON\n    setTimeout(() => {\n        node.send({ payload: 1 });\n    }, i * delay * 2);\n\n    // OFF\n    setTimeout(() => {\n        node.send({ payload: 0 });\n    }, i * delay * 2 + delay);\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            [
                "f20009e1db361804",
                "35bdd2c3a7103dfc",
                "09bba963611019a9",
                "4af3a0c21fa85b20",
                "588ef975f737744f",
                "90bd7665da222cfc",
                "c530f0f4401d875f",
                "707b303480e1fae2"
            ]
        ]
    },
    {
        "id": "ac829e311cf79443",
        "type": "change",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "Luxembourg",
        "rules": [
            {
                "t": "set",
                "p": "lat",
                "pt": "msg",
                "to": "49.6116",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "lon",
                "pt": "msg",
                "to": "6.1319",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "country",
                "pt": "msg",
                "to": "Luxembourg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1780,
        "wires": [
            [
                "c33f888e6f629386"
            ]
        ]
    },
    {
        "id": "6d3d3663bde27f87",
        "type": "rpi-gpio in",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 350,
        "y": 1720,
        "wires": [
            [
                "09a93f3b81a02462"
            ]
        ]
    },
    {
        "id": "f8e7e88b128eddaf",
        "type": "rpi-gpio in",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "pin": "6",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 350,
        "y": 1920,
        "wires": [
            [
                "ed301d6a596c6aef"
            ]
        ]
    },
    {
        "id": "8ffc776647fc0c42",
        "type": "change",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "Japan",
        "rules": [
            {
                "t": "set",
                "p": "lat",
                "pt": "msg",
                "to": "35.6895",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "lon",
                "pt": "msg",
                "to": "139.6917",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "country",
                "pt": "msg",
                "to": "Japan",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1860,
        "wires": [
            [
                "c33f888e6f629386"
            ]
        ]
    },
    {
        "id": "c33f888e6f629386",
        "type": "http request",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude={{{lat}}}&longitude={{{lon}}}&current=temperature_2m,weather_code",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 1800,
        "wires": [
            [
                "dda3ab3ca397ffa0",
                "1ae504128893fcd1"
            ]
        ]
    },
    {
        "id": "dda3ab3ca397ffa0",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "function 23",
        "func": "// 1. Temperatur für das Dashboard auslesen\nlet temp = msg.payload.current.temperature_2m;\n\n// 2. Wettercode auslesen\nlet code = msg.payload.current.weather_code;\n\n// Variablen für Minecraft und LCD vorbereiten\nlet mcCommand = \"/weather clear\";\nlet wetterText = \"Sonnig\";\n\n// Wetter-Logik (WMO-Codes zu Minecraft-Befehlen)\nif (code === 0) {\n    mcCommand = \"/weather clear\";\n    wetterText = \"Klar\";\n} else if (code >= 1 && code <= 3) {\n    mcCommand = \"/weather clear\";\n    wetterText = \"Bewölkt\";\n} else if ((code >= 51 && code <= 55) || (code >= 61 && code <= 65) || (code >= 80 && code <= 82)) {\n    mcCommand = \"/weather rain\";\n    wetterText = \"Regen\";\n} else if (code >= 95 && code <= 99) {\n    mcCommand = \"/weather thunder\";\n    wetterText = \"Gewitter\";\n}\n\n// Ausgaben für die nachfolgenden Nodes bauen\nmsg.temperature = temp;       // Für die Gauge im Dashboard\nmsg.weatherText = wetterText;   // Für das LCD-Display\nmsg.payload = mcCommand;       // Das ist der Befehl, der direkt in RCON geht\n\n// Text für Zeile 1: Das Land (z. B. \"Luxemburg\")\nmsg.line1 = msg.country;\n\n// Text für Zeile 2: Wettertext + Temperatur (z. B. \"Sonnig, 22.4 C\")\n// .toFixed(1) sorgt dafür, dass die Temperatur nur eine Nachkommastelle hat\nmsg.line2 = msg.weatherText + \", \" + temp.toFixed(1) + \"C\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1800,
        "wires": [
            [
                "037fc9a57ace5390",
                "3b4dc9ec715423fd",
                "4539bdf11e2fc772",
                "43083993247aabee",
                "be38b56d4f263a83"
            ]
        ]
    },
    {
        "id": "037fc9a57ace5390",
        "type": "debug",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1760,
        "wires": []
    },
    {
        "id": "8565a82decedd536",
        "type": "inject",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1800,
        "wires": [
            [
                "ac829e311cf79443"
            ]
        ]
    },
    {
        "id": "4dda13825a99d0df",
        "type": "inject",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1840,
        "wires": [
            [
                "8ffc776647fc0c42"
            ]
        ]
    },
    {
        "id": "3b4dc9ec715423fd",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "server": "8780b04773af9560",
        "command": "",
        "x": 1230,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "4539bdf11e2fc772",
        "type": "ui-gauge",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "Temperatur",
        "group": "6783059944e90086",
        "order": 5,
        "value": "temperature",
        "valueType": "msg",
        "width": 6,
        "height": 3,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-15",
                "color": "#0091ff",
                "text": "",
                "textType": "value"
            },
            {
                "from": "15",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "28",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "-10",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1370,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "be38b56d4f263a83",
        "type": "raspi5-lcd-16x2",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 1360,
        "y": 1920,
        "wires": []
    },
    {
        "id": "2530de5519f347a1",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "function 24",
        "func": "msg.payload\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1920,
        "wires": [
            [
                "be38b56d4f263a83"
            ]
        ]
    },
    {
        "id": "49c5026eda3138ba",
        "type": "ui-text-input",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "group": "50d1bcbaa1e90583",
        "name": "LCD Text senden",
        "label": "text",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "0",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 870,
        "y": 1920,
        "wires": [
            [
                "2530de5519f347a1"
            ]
        ]
    },
    {
        "id": "43083993247aabee",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "function 25",
        "func": "// 1. Wir bauen den Text mit den Variablen aus der vorherigen Node zusammen\nvar nachricht = \"🌍 **Wetter-Update!** In **\" + msg.country + \"** ist es aktuell **\" + msg.weatherText + \"** bei **\" + msg.temperature.toFixed(1) + \"°C**.\";\n\n// 2. Discord verlangt zwingend ein JSON-Objekt mit dem Feld \"content\"\nmsg.payload = {\n    \"content\": nachricht\n};\n\n// 3. WICHTIG: Wir sagen der HTTP-Request-Node, dass wir JSON senden\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 2000,
        "wires": [
            [
                "52c0bae9b8164842"
            ]
        ]
    },
    {
        "id": "52c0bae9b8164842",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "channel": "1521564007792775209",
        "token": "",
        "x": 1230,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "btn_input",
        "type": "discordInteraction",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "Button Input",
        "token": "",
        "interactionType": "all",
        "custom_id": "*",
        "interactionObject": true,
        "ephemeral": false,
        "responseType": "reply",
        "commandResponseType": "defersReply",
        "x": 470,
        "y": 2580,
        "wires": [
            [
                "switch_btn"
            ]
        ]
    },
    {
        "id": "switch_btn",
        "type": "switch",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "Approve or Deny",
        "property": "payload.customId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "approve_req",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deny_req",
                "vt": "str"
            }
        ],
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 2580,
        "wires": [
            [
                "approve_fn"
            ],
            [
                "approve_fn"
            ]
        ]
    },
    {
        "id": "approve_fn",
        "type": "function",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "Approve and deny",
        "func": "let player = global.get(\"current_player\");\nlet request = global.get(\"current_request\");\n\nlet buttonId = \"unbekannt\";\n\nif (msg.interaction && msg.interaction.custom_id) {\n    buttonId = msg.interaction.custom_id;\n} else if (msg.payload && msg.payload.customId) {\n    buttonId = msg.payload.customId;\n} else if (msg.payload && msg.payload.custom_id) {\n    buttonId = msg.payload.custom_id;\n} else if (msg.customId) {\n    buttonId = msg.customId;\n}\n\nbuttonId = buttonId.toLowerCase().trim();\n\nlet command = null;\nlet discordText = \"\";\n\n// 1. ANTRAG GENEHMIGT\nif (buttonId === \"approve_req\" || buttonId === \"approve\") {\n    discordText = \"✅ **Antrag genehmigt!** Der Befehl wurde in Minecraft ausgeführt.\";\n\n    // 🛠️ HIER WAREN DIE KORREKTUREN:\n    if (request === \"horde\") {\n        command = \"execute at \" + player + \" run summon zombie ~ ~ ~\";\n    } else if (request === \"rain\") {\n        command = \"weather rain\"; // 💎 Vorher stand hier fälschlicherweise Diamant!\n    } else if (request === \"items\") {\n        command = \"give \" + player + \" minecraft:diamond 3\"; // 🌧️ Falls der Request \"items\" heißt\n    } else if (request === \"inspiration\") {\n        command = \"effect give \" + player + \" minecraft:regeneration 30 1\";\n    } else if (request === \"anotherchance\") {\n        command = \"give \" + player + \" minecraft:totem_of_undying 1\";\n    } else {\n        command = \"say Request von \" + player + \" verarbeitet.\";\n    }\n\n    // 2. ANTRAG ABGELEHNT\n} else if (buttonId === \"deny_req\" || buttonId === \"deny\") {\n    discordText = \"❌ **Antrag abgelehnt!** Es wurde kein Befehl ausgeführt.\";\n    command = null;\n\n    // 3. FEHLER/UNBEKANNT\n} else {\n    discordText = \"⚠️ Interaktion verarbeitet (ID: \" + buttonId + \")\";\n}\n\n// Ausgang 1: An das RCON-Node senden (nur wenn command nicht null ist)\nlet msgMinecraft = command ? { payload: command } : null;\n\n// Ausgang 2: Zurück zu Discord (entfernt auch die Buttons aus der Nachricht)\nmsg.payload = {\n    content: discordText,\n    components: [] // Leeres Array löscht die Buttons, damit man nicht doppelt klickt\n};\n\nreturn [msgMinecraft, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2580,
        "wires": [
            [
                "rcon_node"
            ],
            [
                "0a650e4039e18475",
                "ff4a40984c43babe"
            ]
        ]
    },
    {
        "id": "rcon_node",
        "type": "rcon",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "Minecraft RCON",
        "server": "8780b04773af9560",
        "command": "",
        "x": 1120,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "0a650e4039e18475",
        "type": "debug",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2680,
        "wires": []
    },
    {
        "id": "1b6e6ec6b2583e2d",
        "type": "discordInteraction",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "",
        "token": "",
        "interactionType": "all",
        "custom_id": "",
        "commandResponse": "",
        "interactionObject": false,
        "ephemeral": false,
        "responseType": "reply",
        "commandResponseType": "defersReply",
        "x": 490,
        "y": 2700,
        "wires": [
            [
                "switch_btn"
            ]
        ]
    },
    {
        "id": "ff4a40984c43babe",
        "type": "discordInteractionManager",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "",
        "token": "",
        "x": 1220,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "900812078097eb4a",
        "type": "switch",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\<(\\w+)\\>\\s!request\\s(\\w+)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 2860,
        "wires": [
            [
                "aedba174dd4b44f5"
            ]
        ]
    },
    {
        "id": "d3623f783ca8e9c7",
        "type": "discordMessageManager",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "",
        "channel": "1514214543310585979",
        "token": "",
        "x": 1250,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "953e572972bbeb7c",
        "type": "tail",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "Mincraft log leser",
        "filetype": "text",
        "split": "true",
        "filename": "/home/ronny/minecraft-server/data/logs/latest.log",
        "inputs": 0,
        "x": 560,
        "y": 2860,
        "wires": [
            [
                "900812078097eb4a"
            ]
        ]
    },
    {
        "id": "aedba174dd4b44f5",
        "type": "function",
        "z": "39d0340648bac90a",
        "d": true,
        "g": "ff483325a1326697",
        "name": "function 10",
        "func": "// Find the regex matches from the line of text\nlet match = msg.payload.match(/\\<(\\w+)\\>\\s!request\\s(\\w+)/);\n\nif (match) {\n    let player = match[1];\n    let requestType = match[2];\n\n    // Save to global memory for Flow B to use later\n    global.set(\"current_player\", player);\n    global.set(\"current_request\", requestType);\n\n    // Build the message payload for the discord-send-message node\n    msg.payload = {\n        \"content\": \"⚠️ **New Minecraft Request Pending Approval!**\",\n        \"embeds\": [{\n            \"title\": \"Action Required\",\n            \"color\": 16753920,\n            \"fields\": [\n                { \"name\": \"Player\", \"value\": player, \"inline\": true },\n                { \"name\": \"Requested Event\", \"value\": requestType, \"inline\": true }\n            ]\n        }],\n        \"components\": [{\n            \"type\": 1,\n            \"components\": [\n                { \"type\": 2, \"style\": 3, \"label\": \"Approve\", \"custom_id\": \"approve_req\" },\n                { \"type\": 2, \"style\": 4, \"label\": \"Deny\", \"custom_id\": \"deny_req\" }\n            ]\n        }]\n    };\n\n    // Wire this node directly to:\n    // 1. discord-send-message (reads msg.payload)\n    // 2. rpi-gpio out (sends a separate '1' to turn on LED)\n    // 3. i2c-lcd (reads the global variables)\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2860,
        "wires": [
            [
                "d3623f783ca8e9c7"
            ]
        ]
    },
    {
        "id": "09a93f3b81a02462",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 1720,
        "wires": [
            [
                "ac829e311cf79443"
            ]
        ]
    },
    {
        "id": "ed301d6a596c6aef",
        "type": "switch",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 1920,
        "wires": [
            [
                "8ffc776647fc0c42"
            ]
        ]
    },
    {
        "id": "970943b07a11e467",
        "type": "ui-text",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "group": "50d1bcbaa1e90583",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Capacity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1250,
        "y": 2260,
        "wires": []
    },
    {
        "id": "2b8081ddf65f8e2d",
        "type": "ui-template",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "group": "6783059944e90086",
        "page": "",
        "ui": "",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div ng-if=\"msg.payload.active\" style=\"border: 2px solid #ff9800; padding: 15px; border-radius: 8px; background: #fff8e1; box-shadow: 0 4px 6px rgba(0,0,0,0.05);\">\n    <h4 style=\"margin: 0 0 10px 0; color: #e65100; font-size: 16px;\">⚠️ Request Waiting Override</h4>\n    <p style=\"margin: 4px 0;\"><strong>User:</strong> <span style=\"color:#d32f2f;\">{{msg.payload.player}}</span></p>\n    <p style=\"margin: 4px 0;\"><strong>Event Type:</strong> <span style=\"color:#1976d2; font-family:monospace;\">{{msg.payload.request}}</span></p>\n</div>\n<div ng-if=\"!msg.payload.active\" style=\"color: #b0bec5; text-align: center; padding: 25px; border: 2px dashed #cfd8dc; border-radius: 8px;\">\n    💤 No commands currently await staff approval.\n</div>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "8a69929e41a529c6",
        "type": "ui-markdown",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "group": "50d1bcbaa1e90583",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "content": "<div style=\"padding: 12px; background-color: {{msg.payload ? '#2e7d32' : '#c62828'}}; color: black; border-radius: 6px; text-align: center; font-weight: bold; font-size: 16px;\">\n  {{msg.payload ? '🟢 SERVER ONLINE' : '🔴 SERVER OFFLINE'}}\n</div>\n",
        "className": "",
        "x": 1230,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7af75e6ccdf91e",
        "type": "ui-table",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "group": "50d1bcbaa1e90583",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Username",
                "key": "playername",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1230,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "b788c5046ee6384a",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "name": "function 11",
        "func": "// 1. If server is completely offline or packet drops\nif (!msg.payload || typeof msg.payload !== 'object' || !msg.payload.players) {\n    let outStatus = { payload: false }; // Updates markdown banner to RED/OFFLINE\n    let outCapacity = { payload: \"Offline\" };\n    let outPlayers = { payload: [] }; // Sends empty data array to wipe the table layout cleanly\n\n    // Output 1 gets status + capacity, Output 2 gets the clean clear array\n    return [[outStatus, outCapacity], outPlayers];\n}\n\n// 2. Server is Online! Extract counts\nlet onlineCount = msg.payload.players.online !== undefined ? msg.payload.players.online : 0;\nlet maxCount = msg.payload.players.max !== undefined ? msg.payload.players.max : 20;\nlet playerArray = msg.payload.players.sample || [];\n\n// 3. Prepare clean telemetry objects\nlet outStatus = { payload: true }; // Updates markdown banner to GREEN/ONLINE\nlet outCapacity = { payload: onlineCount + \" / \" + maxCount };\n\n// MATCH FIX: Match your ui-table column key ('playername') exactly in lowercase\nlet outPlayers = {\n    payload: playerArray.map(p => ({\n        \"playername\": p.name,\n        \"Status\": \"Online\"\n    }))\n};\n\n// Output Port 1 gets an array of both layout widgets (Status & Capacity)\n// Output Port 2 gets the clean data table player array\nreturn [[outStatus, outCapacity], outPlayers];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 2260,
        "wires": [
            [
                "8a69929e41a529c6",
                "970943b07a11e467"
            ],
            [
                "6b7af75e6ccdf91e"
            ]
        ]
    },
    {
        "id": "ec4b5dca19b57cd1",
        "type": "tcp in",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "name": "",
        "server": "client",
        "host": "127.0.0.1",
        "port": "25575",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "/n",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 450,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "63f094895f7f7be5",
        "type": "function",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "name": "function 12",
        "func": "let player = global.get(\"current_player\") || \"\";\nlet request = global.get(\"current_request\") || \"\";\n\nmsg.payload = {\n    active: player !== \"\",\n    player: player,\n    request: request\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2420,
        "wires": [
            [
                "2b8081ddf65f8e2d"
            ]
        ]
    },
    {
        "id": "02d357c21618da92",
        "type": "inject",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 2420,
        "wires": [
            [
                "63f094895f7f7be5"
            ]
        ]
    },
    {
        "id": "28c74db633bdfc2b",
        "type": "inject",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 2180,
        "wires": [
            [
                "0bf16d018164a3ae"
            ]
        ]
    },
    {
        "id": "0bf16d018164a3ae",
        "type": "minecraft-ping",
        "z": "39d0340648bac90a",
        "g": "e08e97e1abeb23d9",
        "server": "239e4942ef8d84de",
        "x": 710,
        "y": 2180,
        "wires": [
            [
                "b788c5046ee6384a"
            ]
        ]
    },
    {
        "id": "1ae504128893fcd1",
        "type": "ui-text",
        "z": "39d0340648bac90a",
        "g": "1201558a26becc0e",
        "group": "6783059944e90086",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "country",
        "valueType": "msg",
        "x": 1370,
        "y": 1820,
        "wires": []
    },
    {
        "id": "8780b04773af9560",
        "type": "serverconfig",
        "host": "172.17.226.116",
        "rconPort": "25575",
        "rconPassword": "1111"
    },
    {
        "id": "6783059944e90086",
        "type": "ui-group",
        "name": "Wetter",
        "page": "5d469045e302f268",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50d1bcbaa1e90583",
        "type": "ui-group",
        "name": "Server Status",
        "page": "5d469045e302f268",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "239e4942ef8d84de",
        "type": "minecraft-ping-server",
        "host": "172.17.226.116",
        "port": 25565
    },
    {
        "id": "5d469045e302f268",
        "type": "ui-page",
        "name": "Projekt Digilab",
        "ui": "e21784e4913c53c2",
        "path": "/page7",
        "icon": "home",
        "layout": "grid",
        "theme": "cfb0a41364294263",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e21784e4913c53c2",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "cfb0a41364294263",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0be6641e570fd746",
        "type": "global-config",
        "env": [],
        "modules": {
            "@tomsith/node-red-contrib-minecraft": "0.7.7",
            "node-red-contrib-discord-advanced": "3.6.0",
            "node-red-node-pi-gpio": "2.0.7",
            "node-red-contrib-raspi5-lcd-16x2": "0.1.1",
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-tail": "0.4.0",
            "node-red-contrib-minecraft-ping": "0.1.0"
        }
    }
]